body {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.app-container {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    /* Prevents double borders */
    margin-top: -1px;
}

li:hover {

    background-color: #f5f5f5;
}